<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
    Thank you for your order at jungle.com, <%= @order.email %>. Below is your receipt of your order
    </p>
    <p>
      <% @order.line_items.each do |item| %>
        <%= render item, item: item %>
        <% end %>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>